@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');

body {
    font-family: "Fira Sans", sans-serif;
}

h1 {
    font-family: "Rock Salt", Serif;
    text-align: center;
}

h1 ~ p {
    color: rgb(50, 110, 160);
}

option:nth-child(odd) {
    background-color: rgba(50, 110, 160, 0.25);
}

input:invalid {
    background-color: rgba(200, 0, 0, 0.15);
}

a.nav-link:hover {
    background-color: #007bff;
    border-radius: .25rem;
}

i[class="utensils"] {
    margin-left: .2rem;
    margin-right: .2rem;
}

label[for]::first-letter {
    font-weight: bold;
    text-decoration: underline;
}
